/* Global styles */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

.flat-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.flat-list li {
    margin: 0 5px;
}

/* Flexbox set-up */

.container {
    width: 100%;
}

.row {
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column-1 {
    width: 16.666%;
}

.column-2 {
    width: 33.333%;
}

.column-3 {
    width: 50%;
}

.column-4 {
    width: 66.666%;
}

.column-5 {
    width: 83.333%;
}

.column-6 {
    width: 100%;
}

/* temporarily hidden for styling */
.modal {
    display: none;
}

/* Specific styles */

#header {
    width: 100%;
    position: fixed;
    color: white;
    background-color: black;
    top: 0;
    height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

#header a,
#header a:hover
#header a:visited
#header a:active {
    color: white;
}

#header-links,
#header-contacts {
    margin: 7px 0;
    position: absolute;
}

#header-links {
    left: 5px;
    text-transform: uppercase;
}

#contact-list {
    position: absolute;
    right: 5px;
}

#splash-video {
    width: 100%;
    height: 100vh;
    background: url('../images/the-ponch-1500.jpg');
    background-size: cover;
}
